<div class="row">
  <div class="span3">
    <section>
    <div>
      <h3>Post Feed(<%= @posts.count %>)</h3>
      <%= render 'shared/post' %>
    </div>
    </section>
    <section>
      <%= link_to "Post up", postup_path, class: "btn btn-large btn-primary" %>
    </section>
  </div>

  <div class="span6">
  	<%= render 'shared/map' %>
  </div>

  <aside class="span3">
    <section>
    <div>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    </section>
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section> 
  </aside>


</div>
